/*
* font-family: 'Seymour One', sans-serif;
* font-family: 'Khula', sans-serif;
* font-family: 'Sahitya', serif;
* font-family: 'Martel', serif;
* font-family: 'Faster One', cursive;
*/
body.path-frontpage{
  width: 100%;
  overflow-x: hidden;
}
.navbar-default {
  background-color: #042ea1 !important;
}
.dialog-off-canvas-main-canvas .navbar-default .navbar-nav{
  
}
.dialog-off-canvas-main-canvas .navbar-default .navbar-nav > li > a {
  color: yellow;
  fill: #ffffff;
  font-size: 1.35rem;
}

.dialog-off-canvas-main-canvas .dropdown-menu {
  font-size: 1.25rem;
}

#block-klp-anhomepageheroblock>.cover-wrap{
  
}
#block-klp-anhomepageheroblock>.cover-wrap>.hero-canvas{
  background: none;
  text-align: left;
  padding: 2rem;
  padding: 1em;
  font-size: 1.3em;
  font-weight: 300;
  line-height: .95em;
}
#block-klp-anhomepageheroblock>.cover-wrap>.hero-canvas .field--name-field-text-block{
  color: white;
  text-shadow: black -1px 1px 3px, #c5effe -2px -1px 2px, black -2px 1px 6px;
  margin-bottom: 1em;
}
#block-klp-anhomepageheroblock>.cover-wrap>.hero-canvas h3{
  font-size: 1.2rem;
  border-bottom: 1px solid yellow;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+32,207cca+71,7db9e8+100&1+8,0+100 */
  background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(33,100,169,1) 8%, rgba(41,137,216,0.74) 32%, rgba(32,124,202,0.32) 71%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(33,100,169,1) 8%,rgba(41,137,216,0.74) 32%,rgba(32,124,202,0.32) 71%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(33,100,169,1) 8%,rgba(41,137,216,0.74) 32%,rgba(32,124,202,0.32) 71%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
  padding: 10px 40px;
  border-radius: 80px 0 100px 0
}
#block-klp-anhomepageheroblock>.cover-wrap>.hero-canvas h3 div:nth-of-type(2){
margin-left: 2.5em;

}
#block-klp-anhomepageheroblock>.cover-wrap>.hero-canvas .field--name-field-text-block em{
  color: yellow;
  font-size:1.15em;
}
#block-klp-views-block-activity-stream-block-stream-homepage div.margin-top-m.iframe-container,
#block-klp-views-block-activity-stream-block-stream-homepage > ul > div.views-infinite-scroll-content-wrapper.clearfix.form-group > li > div > div > div > div.contextual-region.margin-top-m.iframe-container.margin-bottom-m{
  font-size: 2em;
  line-height: 1.1em;
  color:#003d04;
  text-shadow: white 2px 2px 4px, black -2px 2px 1px;
}
.stream .card {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255,255,255,.8);
  text-shadow: white 1px 1px 2px, white -1px -1px 2px;
}

.stream .card__title {
  color: #777;
  text-shadow: white 1px 1px 2px, white -1px -1px 2px;
  font-weight: 500;
}
#block-klp-views-block-upcoming-events-block-community-events > div > div:nth-of-type(1){
  background-color: orange;
  margin: 5px 80px 25px;
}
#block-klp-views-block-upcoming-events-block-community-events > div > div{
  border: .1px gray solid;
  border-radius: 5px;
  
  box-shadow: black 1px 1px 3px;
  margin: 15px 10px;
  padding: 5px;
}
#block-klp-views-block-upcoming-events-block-community-events > div{
  text-align: right; 
}
#block-klp-views-block-upcoming-events-block-community-events > div > div > div:nth-child(2) > small{
  color: maroon;
}
.more-link{
  padding: 2px 5px;
  display: inline-block;
  background-color: #f75940;
  border-color: #f75940;
}
.flex-row {
  display: flex;
}

.path-user #auth_box {
  width: 80%;
  margin: 0 auto;
  padding: 10px 5px 5px;
  font-family: sans-serif;
  
  background: #bedde7; 
}
.path-user #auth_box h4.card__title{
  font-size: 1.5rem;
  color: #c2300c;
  padding: 5px;
  text-shadow: gray 2px 2px 2px;
}
.path-user #auth_box .card__block{
  padding: 5px;
}
.path-user #auth_box input.form-control{
  width: 90%;
  min-width: 225px;
  background: #e7ea6fe0;
  color: #0b1e86;
  font-size: 1.25em;
}
.path-user #auth_box .card__nested-section{
  padding-top: 5px;
}
.path-user #auth_box .form-wrapper p{
  width: 100!important;
}

#background-image-runtime-css-2{
  position: absolute;
  z-index: -1;
}
#content{
}


@media screen and (max-width: 639px){
  .page-node-type-book .block-system ol,
  .page-node-type-book .block-system ul{
    margin-left: 15px;
    padding: 10px;
  }
  .page-node-type-book .block-system ol li{
    padding-left: 15px;
  }
  .page-node-type-book .block-system ol li li table{
    margin-left: -30px;
  }
  .page-node-type-book .block-system ol li li table{
    margin-left: -70px;
  }
  .page-node-type-book .block-system ol li li li table{
    margin-left: -230px;
  }
  .page-node-type-book .block-system table{
    margin-left: -100px;
    border:0px;
  }
  .page-node-type-book .block-system table tr td {
    border: 1px solid ;
    border-width: 0 0 1px 0;  
    text-align: center;
  }
  .page-node-type-book .block-system table tr td{
    padding-top: 55px; 
  }
   .page-node-type-book .block-system table tr:nth-of-type(0) th {
    text-align: right;
    padding-right: 10px;
    transform: translate( 0px, -30px);  
  }
  .page-node-type-book .block-system table tr th {
    text-align: right;
    padding-right: 10px;
    transform: translate( 230px, -30px);  
  }
  .page-node-type-book .block-system table tr:nth-of-type(1) th {
    text-align: right;
    padding-right: 0px;
    transform: translate( 0px, 0px);  
  }
  .page-node-type-book .block-system table tr:nth-of-type(1) th:nth-of-type(1) {
    text-align: right;
    margin-right: -100px;
    transform: translate( 130px, 0px);
    display: block;
    border: 0px;
    width: 300px;
  }
  .page-title {
    width: 90%;
  }

}
.view-weather-block{
  background: rgba(26, 67, 147, 0.85);
  color: yellow;
  box-shadow: rgb(132, 156, 205) -6px 5px 10px;
  padding: 5px 25px 25px 25px;
  margin-bottom: 15px;
  font-size: 1.5em;
}
.view-weather-block .forecast-period{
  color: white;
  text-shadow: black 1px 1px 2px, gray -1px -1px 4px;
}
.weather-temp{
  font-size: 1.52em;
  font-weight: bold;
  color: white;
  text-shadow: black 2px 2px 5px;
  padding: 15px;
  margin-right: 15px;
  background: #95bcd9;
  display: inline-block;
  border-radius: 5px;
}
.view-weather-block  .weather-forecast{
  display: inline-block;
  color: white;
  text-shadow: black 2px 2px 2px;
}
.wx-icon-set{
  float: right;
  clear: right;
  text-align: right;
 }
.wx-icon-l{
  margin: 2px;
  width: 64px;
  height: 64px;
  clear: right;
  display: block;
  border-radius: 15px;
  border: blue .3px solid;
  box-shadow: gray 2px 2px 2px;
}
.wx-icon-m{
  width: 52px;
  height: 48px;  
  margin-right: 10px;
  border-radius: 10px;
  border: blue .3px solid;
  box-shadow: gray 2px 2px 2px;  
}
#block-klp-pagetitleblock-content > div.cover.cover-img.cover-img-gradient > div.cover-wrap > h1{
  font-family: 'Faster One', cursive;
  font-size: 2.7em;
  color: rgba(165,9 194, 250, 0.75);
  font-variant: initial;
  text-shadow: #0c0c0c 5px -4px 22px, #93cfce -1px 1px 24px;
  font-weight: 300;
  
}
.wx-icon-set{
  width: 9em;
}
.weather-conditions{
  width: 80%;
  line-height: 1.1em;
  float: right;
  font-size: 1.35em;
  color:  #dae8f2;
  text-shadow: black 2px 2px 5px;  
}

.view-weather-block  .weather-date{
  font-size: .75em;
  color: red;
}
body.page-node-type-weather .flex-row{
  margin-bottom: 10px;
  font-size: 1.5em;
  border-radius: 5px;
  border: solid 0px black;
  box-shadow: gray 1px 1px 5px;
  padding: 5px;
}
body.page-node-type-weather .flex-row:nth-of-type(n){
  background-color: #dee1f0;
}
body.page-node-type-weather .flex-row:nth-of-type(2n+1){
  background: #e5e6e8;
}
.wx-label{
  margin: 2px 15px 2px 0px;
  min-width: 9em;
  font-weight: 500;
}
.wx-item{
  margin: 2px 0px 2px 15px;
  
}
.region--complementary-bottom .card__title{
  font-size: 1.1em;
  color: orange;
  font-family: sans-serif;
}
.views-element-container.block-views-blockmeeting-minutes-block-1{
  padding: 2px 15px;
}
.views-element-container.block-views-blockmeeting-minutes-block-1 div.views-field{
  padding: 2px 15px;
  border-bottom: 2px dashed #1B5225;
  transition-duration: 420ms;  
}
.views-element-container.block-views-blockmeeting-minutes-block-1 div.views-field:hover,
.views-element-container.block-views-blockmeeting-minutes-block-1 div.views-field:focus{
  background: rgba(255, 255, 0, 0.5);
  border-radius: 3px;
  color: black;
}
#block-klp-content > div > div.view-header > div > div.views-view-grid.horizontal.cols-4.clearfix > div > div > span.views-field.views-field-title > span > a{
  color: #960202;
  text-shadow: white 1px 1px 1px, white -1px 1px 14px;
}
#block-klp-content div.views-view-grid > div > div{
  color: white;
  font-size: 1.5em;
}
#block-klp-content span.views-field.views-field-title > span > a,
.region--content td.views-field-title a,
.views-element-container.block-views-blockmeeting-minutes-block-1 div.views-field a{
  color: #d61a1a;
  font-size: larger;
  font-weight: bold;   
  transition-duration: 420ms; 
}
#block-klp-content span.views-field.views-field-title > span > a:focus,
.region--content td.views-field-title a:focus,
.views-element-container.block-views-blockmeeting-minutes-block-1 div.views-field a:focus,
#block-klp-content span.views-field.views-field-title > span > a:hover,
.region--content td.views-field-title a:hover,
.views-element-container.block-views-blockmeeting-minutes-block-1 div.views-field a:hover{
  color: #a31414;
  text-shadow: orange 1px 1px 3px,white -1px -1px 3px;
  
}
#block-quicknodeblock{
  background: #0A1D60;
  color: white;
  padding: 10px;
}
#block-klp-content > div > div.view-header > div > div.views-view-grid,

.blazy .grid__content.form-group{
  padding: 5px;
  border:.1 gray solid;
  porder-radius: 4px;
  box-shadow: black 3px 3px 13px;
} 

#block-klp-content > div > div.view-header > div > div.views-view-grid,
.blazy .grid__content.form-group:nth-of-type(3n+1) {
  padding: 10px;
  background-color: rgba(255, 216, 176, 0.45);
  border: 1px solid black;
  
}



.blazy .grid__content.form-group:nth-of-type(3n) {
  background-color: rgba(255, 216, 176, 0.15);
}
.blazy .grid__content.form-group:nth-of-type(3n+1) {
  background-color: rgba(255, 216, 176, 0.45);
  border: 1px solid black;
  
}
.blazy .grid__content.form-grouptr:nth-of-type(3n+2) {
  background-color: rgba(255, 216, 176, 0.25);
}

.path-gov h1{
  font-family: 'Sahitya';
  font-size: 2.5em;
  font-weight: bold;
  color: #fbdb86;
  text-shadow: black 2px 2px 4px, #fefbfb -1px -1px 4px;
}
#ui-id-1 > a{
  color: white;
}
.ui-accordion-header.ui-corner-top a{
  border-radius: 15px;
  margin: 5px;
  padding: 10px 10px 10px 45px;
  border: 1px solid gray;
  background: #8b0f0f;
  color: white;
  display: block;
}
#block-klp-content > div > div:nth-of-type(odd){

}

#block-klp-content > div > div:nth-of-type(even){
  background: #565252;
  margin: 5px;
  padding: 5px;
  color: white;
  font-size: larger;
} 
#ui-id-2 > div:nth-child(2) > div:nth-child(1) > span  *,
#ui-id-2 > div > div.views-field.views-field-body > span > p{
  color: #672222!important;
}
body.page-node-type-meeting-minutes h1{
  font-family: 'Sahitya';
  font-size: 2.5em;
  font-weight: bold;
  color: #fbdb86;
  text-shadow: black 2px 2px 4px, #fefbfb -1px -1px 4px;
  
}

body.page-node-type-meeting-minutes .region--content article{
  background: #fff4d6;
  border: 1px solid gray;
  margin-top: 5px;
  border-radius: 20px;
  box-shadow: black 2px 2px 4px;
}

.view-meeting-minutes .view-header h3{
  color: #999986;
  text-shadow: black 2px 2px 3px;
  font-family: 'Seymour One', sans-serif
}
.view-display-id-block_most_recent .latest-meeting{
  background: #fbdb86;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: #9c9c9c 2px 2px 4px;
}

.view-meeting-minutes.view-display-id-block_most_recent time{
  color: #a31414;
  font-size: larger;
  font-weight: bold;
}

.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed a{
 }
.ui-accordion-header.ui-corner-top a:after{
  content: " - ";
  color: green;
  font-weight: bold;
  display: block;
  position: absolute;
  left: 30px;
  top:20px;
  font-size: 28px;

}

 
.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed a:after{
  content: " + ";
}

.ui-accordion-content.ui-corner-bottom .views-row{
  background: #eae8e8;
  border-radius: 14px;
  box-shadow: 2px 2px 2px black;
  border: .1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
.ui-accordion-content.ui-corner-bottom .views-row .field-content>a{
  color: #f75940;
  display: inline-block;  
  margin-left: 50px;
}
.page-node-type-book #content .region--content #block-klp-content>article{
  background: #d4c762;
  font-size: 1.75em;
}
.page-node-type-book #content .region--content #block-klp-content>article table{
  
  font-size: .7em;
  background: rgba(255,255,255,.4);
}
.page-node-type-book #content .region--content #block-klp-content>article table td,
.page-node-type-book #content .region--content #block-klp-content>article table th{
  padding: 0 5px;
}
.page-node-type-book h1.page-title{
  font-family: 'Sahitya';
  font-size: 2.5em;
  font-weight: bold;
  color: #fbdb86;
  text-shadow: black 2px 2px 4px, #fefbfb -1px -1px 4px;
}
.page-node-type-book .region--complementary-top{
  background: #1642d6;
}
.page-node-type-book .region--complementary-top #block-klp-booknavigation-2{
  background: #0A1D60;
  color: white;
  padding: 10px;
}


#block-klp-booknavigation-2 .card__block{
  font-family: 'Sahitya';
  font-size: 1.5em;
  }
.cover-with-canvas {
  padding: 10px 20px 30px 20px!important;
}
#block-klp-booknavigation-2 .card__block li{
  border-bottom: 4px dotted black;
}
#block-klp-booknavigation-2 > div.card__block li.menu-item--active-trail > a{
  display: block;
  text-align: center;
  padding: 2px 3px;
  line-height: 1.2em;
  text-shadow: white 1px 1px 4px, black -1px 1px 1px;
  border-radius: 17px 0px 0px 420px;
  background-image: linear-gradient(to right, rgba(255,255,255,.5),rgba(255,255,255,.7),rgba(255,255,255,.7),rgba(255,255,255,0));
  font-weight: bold;
  font-size: smaller;
  font-variant: small-caps;
}
#block-klp-booknavigation-2 .card__block li:last-of-type{
  border-bottom: 1px dotted black;
}
.cover-with-canvas .call-to-action{
  margin-top: 1em;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  font-size: 1.25em;
  line-height: 1.1em;
  background: #abde4c;
  box-shadow: black 2px 2px 3px;
  transition-duration: 420ms;  
}
.cover-with-canvas .call-to-action:hover,
.cover-with-canvas .call-to-action:focus{
color: #e38b48;
  text-shadow: black -1px 1px 1px, white -1px -1px 4px;
  box-shadow: silver 2px 2px 13px,white -1px 2px 13px;
  transition-duration: 420ms;  
  background-image: linear-gradient(to right, rgba(255,255,255,.5),rgba(255,255,255,.7),rgba(255,255,255,.7),rgba(255,255,255,0));
  box-shadow: black 2px 2px 3px; 
}
.form-control {
  color: #0320a7;
  background-color: #fff;
  border: 1px solid #adadad;
  border-radius: 5px;
}
.view-weather.view-id-weather{
  background: silver;
}
.view-weather.view-id-weather .views-field.views-field-field-temp{
    background: #95bcd9;
    margin-bottom: 5px;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    color: white;
    width: 3.5em;
    color: white;
    text-shadow: black 2px 2px 5px;
    border-radius: 5px;
    display: inline-block;
    /*TEMP*/
}
#block-klp-content > div > div.view-header h1{
  color: white;
}
#block-klp-content > div > div.wx-header{
  display: flex!important;
  background-color: white!important;
}

#block-klp-content > div > div.wx-header > span.wx-temp{
  font-size: 2.25em;
  color: white;
  text-align: center;
  min-width: 100px;
  width: 100px;
  height: 100px;
  padding-top: 20px;
  display: inline-block;
  background: #95bcd9;
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: black 2px 2px 5px;
  border-radius: 5px;
}
#block-klp-content > div > div.wx-header > span.wx-conditions{
  display: block;
  font-size: 3em;
  line-height: 1em;
  margin: 15px;
}
#block-klp-content > div > div:nth-child(3){
  min-height: 100px;
}
.view-weather.view-id-weather .views-field.views-field-field-conditions{ 
   display: inline-block;
  color: white!important;
  font-size:1.5em!important;
  padding: 2px 15px;
 /*condition*/
}
.view-weather.view-id-weather .views-field.views-field-field-conditions *{
  display: inline;
  white-space: no-wrap;
}
#block-klp-content > div > div:nth-of-type(2){
  margin: 15px;
}
#block-klp-content > div > div{
  margin: 5px;
  padding: 5px;
}
#block-klp-content > div > div:nth-of-type(odd){
  background: #403d3d;
  margin: 5px;
  padding: 5px;
}
#block-klp-content > div > div:nth-of-type(even){
  background: #565252;
  margin: 5px;
  padding: 5px;
  color: white;
  font-size: larger;
}
#ui-id-4 em,
#ui-id-4 div.views-field.views-field-body{
  color: black;
  font-weight: 600;
}

#block-klp-content > div > div{
  display: block;
}
#block-klp-content > div > div{
  clear: both;
}
#block-klp-content > div > div  > div:nth-of-type(2){
  float: left;
  color: #e3cfaa;
  text-shadow: black 1px 1px 1px,silver -1px -1px 3px,white 1px 1px 3px;
  font-size: 21px;
  font-weight: bold;
  width: 210px;
}
#block-klp-content > div > div  > div:nth-of-type(3){
  float: right;
  clear: right;
  background: #95bcd9;
  margin-bottom: 5px;
  font-size: 1.5em;
  padding: 5px;
  font-weight: bold;
  color: white;
  width: 3.5em;
  color: white;
  text-shadow: black 2px 2px 5px;
  border-radius: 5px;  
}
#block-klp-content > div > div  > div:nth-of-type(4){
  float: right;
  font-size: 1.25em;
  clear: left;
  display: inline-block;
  width: 210px;
  color: white;
  margin-bottom: 15px;
}
#block-klp-content > div > div  > div:nth-of-type(5){
  background: white;
  padding: 2px 15px;
  margin: 2px 30px;
  font-size: 1.3em;
  line-height:1.2em;
  color: #314a04;
  display: block;
  clear: both;
}
